
#placement {
    display: flex;
    justify-content: space-evenly;
    
}

 #buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 25px;
 }

#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: solid 2px black ;
    margin-top: 50px;   
}

#buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4px;
}

h1 {
 display: flex;
 justify-content: center;
 color: red;
}

#pick-size, #cleargrid, #rainbow, #black, #eraser {
    display: flex;
    font-weight: 900;
    font-family: monospace;
    padding: 25%;
    height: 100%;
    width: 100%;
    border: thin;
}
